<script src="src/math/vector.js"></script>
<script src="src/math/square.js"></script>
<script src="src/utils/queue.js"></script>
<script src="src/physics/consts.js"></script>
<script src="src/utils/helpers.js"></script>
<script src="utils.js"></script>


<script src="src/resourcemanager.js"></script>
<script src="src/selection.js"></script>
<script src="src/gameobject.js"></script>
<script src="src/gameobjectlist.js"></script>

<script src="src/player.js"></script>

<script src="src/input/inputdevice.js"></script>
<script src="src/input/mouse.js"></script>
<script src="src/input/inputmanager.js"></script>

<script src="src/physics/collider.js"></script>
<script src="src/camera.js"></script>

<script src="src/gameobjects/surface.js"></script>
<script src="src/gameobjects/world.js"></script>


<script src="src/gameobjects/squareobject.js"></script>
<script src="src/gameobjects/roundobject.js"></script>
<script src="src/gameobjects/selectable.js"></script>
<script src="src/gameobjects/soldier.js"></script>
<script src="src/gameobjects/building.js"></script>
<script src="src/gameobjects/bullet.js"></script>
<script src="src/gameobjects/commandcenterbuilding.js"></script>

<script src="src/gameengine.js"></script>

<html>

<body>
    <canvas id="canvas">

    </canvas>
</body>

</html>


<script src="src/gamecontext.js"></script>